torch
torchvision --index-url https://download.pytorch.org/whl/cu124
numpy
pandas
matplotlib
pydantic
nibabel
SimpleITK
torchio
tqdm
dicom2nifti
medpy
scipy
numpy
scikit-learn
SimpleITK
pandas
requests
nibabel
tifffile
matplotlib
wandb
opencv-python
pydantic
monai
einops